/* PAGE */

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto/Roboto.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('font/Roboto/Roboto-Light.ttf');
}

.Roboto_bold {
    font-family: 'Roboto-Bold';
}

.Roboto_light {
    font-family: 'Roboto-Light';
}

.center {
    max-width: 1440px;
    margin: auto;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body {
    font-family: 'Roboto', 'Sans serif';
    margin: 0px auto;

    a {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    li {
        list-style-type: none;
    }
}

/* PAGE */

/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 0px 20px rgb(167, 167, 167);
    
    &_logo {
        margin: auto;
        width: 200px;
        padding: 15px 0px 15px 0px;
    }
}

/* HEADER */

/* LOCATION */

.location {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    padding: 5px;
    background-color: #dedcdc;
    
    &_icon {
        font-size: 22px;
        margin-right: 20px;
    }

    &_city {
        font-size: 19px;
    }
}

i.fa-solid.location_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOCATION */

/* EXPLORER */

.explorer {
    background: url('../images/logo/omf_banner.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 5px 40px 5px;

    &_title {
        font-size: 33px;
        margin: 10px 5px;
    }

    &_subtitle {
        font-size: 23px;
    }

    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 70px;
        margin: 30px;
        color: white;
        font-size: 23px;
        background: linear-gradient($color-secondary, $color-primary);
        border-radius: 40px;
        box-shadow: 2px 5px 20px rgb(167, 167, 167);
        transition: transform 250ms ease-in-out;
        &:hover {
            transform: scale(1.03);
            filter: brightness(1.03);
        }
    }
}

/* EXPLORER */

/* OPERATION */

.operation {
    padding: 30px 15px;

    &_header {
        font-size: 16px;
        margin: 0px 0px 35px 20px;
    }

    &_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 10px;

        &_card {
            display: flex;
            align-items: center;
            background-color: #e7e7e762;
            width: 30%;
            height: 100px;
            box-shadow: 2px 5px 20px rgba(167, 167, 167, 0.5);
            border-radius: 30px;
            font-size: 16px;
            cursor: default;
            transition: transform 250ms ease-in-out;
            &:hover {
                transform: scale(1.01);
                background-color: #9256dc21;
                .operation_cards_card_icon {
                        color: $color-primary;
                }
            }

            &_number {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 35px;
                height: 35px;
                margin-left: -20px;
                color: white;
                background-color: $color-primary;
                border-radius: 30px;
            }

            &_icon {
                color: rgba(0, 0, 0, 0.5);
                padding: 0px 20px;
                font-size: 25px;
            }

            &_title {
                padding-right: 5px;
            }
        }
    }
}

/* OPERATION */

/* RESTAURANTS */ 

.restaurants {
    background-color: #F2F2F2;
    margin-top: 40px;
    padding: 10px 0px 50px 0px;

    &_header_title {
        padding: 30px 0px 30px 30px;
        font-size: 24px;
    }
    
    &_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    &_card {
        margin: 10px 0px 20px 0px;
        border-radius: 20px;
        box-shadow: 0 0 16px #0000002e;
        box-sizing: border-box;
        width: 47%;
        transition: transform 250ms ease-in-out;
        &:hover {
            transform: scale(1.01);
        }

        &_fig {
            margin: 0;

            &_img {
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
                width: 100%;
                height: 280px;
            }

            &_caption {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0px 0px 5px 25px;
                line-height: 10px;
            }
        }

        &_icons {
            display: flex;
            align-items: center;
            position: relative;
            padding-right: 40px;
            font-size: 25px;
            width: 25px;
            height: 25px;

            &-notLiked {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &-liked {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(160deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: opacity 250ms ease-in-out;
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/* RESTAURANTS */ 

/* FOOTER */ 

.footer {
    background-color: #313131;
    padding: 30px 0px 15px 0px;

    &_logo {
        filter: invert(100%);
        width: 130px;
        padding: 0px 0px 5px 40px;
        max-width: 1440px;
    }

    &_link {
        color: white;
        line-height: 30px;
        &:hover {
            text-decoration: underline;
        }

        &_icon {
            margin-right: 5px;
        }

        & .fa-utensils {
            font-size: 19px;
            margin-right: 10px;
        }
    }
}

/* FOOTER */

/* PAGES MENU */ 

@font-face {
    font-family: 'Shrikhand';
    src: url('font/Shrikhand/Shrikhand.ttf'); 
}

.banner_img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.menu {
    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;

        &_title {
            font-family: 'Shrikhand';
            margin-right: 10px;
        }
    }
}