/* PAGE */

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto/Roboto.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('font/Roboto/Roboto-Light.ttf');
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body {
    font-family: 'Roboto', 'Sans serif';
    margin: 0px;

    main {
        max-width: 1440px;
        margin: auto;  
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
}

/* PAGE */

/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 0px 20px rgb(167, 167, 167);
    
    &_logo {
        margin: auto;
        width: 200px;
        padding: 15px 0px 15px 0px;
    }
}

/* HEADER */

/* LOCATION */

.location {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    padding: 5px;
    background-color: #dedcdc;
    
    &_icon {
        font-size: 23px;
        margin-right: 20px;
    }

    &_city {
        font-size: 20px;
    }
}

i.fa-solid.location_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOCATION */

/* EXPLORER */

.explorer {
    background: url('../images/logo/omf_banner.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 5px 40px 5px;

    &_title {
        font-family: 'Roboto-Bold';
        font-size: 35px;
        margin: 10px 5px;
    }

    &_subtitle {
        font-family: 'Roboto-Light';
        font-size: 25px;
    }

    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 80px;
        margin: 30px;
        color: white;
        font-size: 25px;
        background: linear-gradient($color-secondary, $color-primary);
        border-radius: 40px;
        box-shadow: 2px 5px 20px rgb(167, 167, 167);
    }
}

/* EXPLORER */

/* OPERATION */

.operation {
    margin: 60px 0px 60px 0px;
    padding: 0px 15px;

    &_header {
        font-family: 'Roboto-Bold';
        font-size: 18px;
        margin: 0px 0px 35px 20px;
    }

    &_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 10px;

        &_card {
            display: flex;
            align-items: center;
            background-color: #e7e7e762;
            width: 30%;
            height: 110px;
            box-shadow: 2px 5px 20px rgba(167, 167, 167, 0.5);
            border-radius: 30px;
            font-size: 17px;
            cursor: default;
            transition: transform 250ms ease-in-out;
            &:hover {
                transform: scale(1.02);
                background-color: #9256dc21;
                .operation_cards_card_icon {
                        color: $color-primary;
                }
            }

            &_number {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 40px;
                height: 40px;
                margin-left: -20px;
                color: white;
                background-color: $color-primary;
                border-radius: 30px;
            }

            &_icon {
                color: rgba(0, 0, 0, 0.5);
                padding: 0px 20px;
                font-size: 25px;
            }

            &_title {
                font-family: 'Roboto-Bold';
                padding-right: 5px;
            }
        }
    }
}

/* OPERATION */