/* PAGE */
@font-face {
  font-family: 'Roboto';
  src: url("font/Roboto/Roboto.ttf");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("font/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("font/Roboto/Roboto-Light.ttf");
}

body {
  font-family: 'Roboto', 'Sans serif';
  margin: 0px;
}

body main {
  max-width: 1440px;
  margin: auto;
}

body a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* PAGE */
/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 5px 0px 20px #a7a7a7;
          box-shadow: 5px 0px 20px #a7a7a7;
}

.header_logo {
  margin: auto;
  width: 200px;
  padding: 15px 0px 15px 0px;
}

/* HEADER */
/* LOCATION */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
  padding: 5px;
  background-color: #dedcdc;
}

.location_icon {
  font-size: 23px;
  margin-right: 20px;
}

.location_city {
  font-size: 20px;
}

i.fa-solid.location_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* LOCATION */
/* EXPLORER */
.explorer {
  background: url("../images/logo/omf_banner.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 5px 40px 5px;
}

.explorer_title {
  font-family: 'Roboto-Bold';
  font-size: 35px;
  margin: 10px 5px;
}

.explorer_subtitle {
  font-family: 'Roboto-Light';
  font-size: 25px;
}

.explorer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 80px;
  margin: 30px;
  color: white;
  font-size: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  -webkit-box-shadow: 2px 5px 20px #a7a7a7;
          box-shadow: 2px 5px 20px #a7a7a7;
}

/* EXPLORER */
/* OPERATION */
.operation {
  margin: 60px 0px 60px 0px;
  padding: 0px 15px;
}

.operation_header {
  font-family: 'Roboto-Bold';
  font-size: 18px;
  margin: 0px 0px 35px 20px;
}

.operation_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

.operation_cards_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e762;
  width: 30%;
  height: 110px;
  -webkit-box-shadow: 2px 5px 20px rgba(167, 167, 167, 0.5);
          box-shadow: 2px 5px 20px rgba(167, 167, 167, 0.5);
  border-radius: 30px;
  font-size: 17px;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.operation_cards_card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #9256dc21;
}

.operation_cards_card:hover .operation_cards_card_icon {
  color: #9356DC;
}

.operation_cards_card_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  height: 40px;
  margin-left: -20px;
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
}

.operation_cards_card_icon {
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  font-size: 25px;
}

.operation_cards_card_title {
  font-family: 'Roboto-Bold';
  padding-right: 5px;
}

/* OPERATION */
/*# sourceMappingURL=style.css.map */