/* PAGE */
@font-face {
  font-family: 'Roboto';
  src: url("font/Roboto/Roboto.ttf");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("font/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("font/Roboto/Roboto-Light.ttf");
}

/* KEYFRAMES */
@-webkit-keyframes loadscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes custom-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes custom-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes custom-loading-invert {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes custom-loading-invert {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes new {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes new {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* KEYFRAMES */
body {
  font-family: 'Roboto', 'Sans serif';
  margin: 0px auto;
}

body a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

body li {
  list-style-type: none;
}

input[type="checkbox"] {
  display: none;
}

.Roboto_bold {
  font-family: 'Roboto-Bold';
}

.Roboto_light {
  font-family: 'Roboto-Light';
}

.center {
  max-width: 1440px;
  margin: auto;
}

/* LOADSCREEN */
.loadscreen {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loadscreen 2s 3s forwards;
          animation: loadscreen 2s 3s forwards;
}

.spinner {
  cursor: progress;
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
}

.spinner::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10002;
  content: "";
  position: absolute;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 50%;
}

.spinner_big::after {
  top: 40%;
  left: 44%;
  border-top: 5px solid #9356dc;
  border-left: 5px solid #9356dc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -webkit-animation: custom-loading 1000ms ease-in infinite;
          animation: custom-loading 1000ms ease-in infinite;
}

.spinner_medium::after {
  top: 42.5%;
  left: 46%;
  border-top: 4px solid #FF79DA;
  border-right: 4px solid #FF79DA;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  -webkit-animation: custom-loading-invert 800ms ease-in infinite;
          animation: custom-loading-invert 800ms ease-in infinite;
}

.spinner_small::after {
  top: 45%;
  left: 48%;
  border-right: 3px solid #99E2D0;
  border-bottom: 3px solid #99E2D0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: custom-loading 600ms ease-in infinite;
          animation: custom-loading 600ms ease-in infinite;
}

/* LOADSCREEN */
/* HEADER */
.header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 5px 0px 20px #a7a7a7;
          box-shadow: 5px 0px 20px #a7a7a7;
}

.header_logo {
  margin: auto;
  width: 200px;
  padding: 15px 0px 15px 0px;
}

/* HEADER */
/* LOCATION */
.location_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  padding: 5px;
  background-color: #dedcdc;
}

.location_search_icon {
  font-size: 22px;
  margin-right: 20px;
}

.location_search input {
  border: none;
  background-color: #dedcdc;
  height: 55px;
  width: 165px;
  font-size: 22px;
}

.location_search input::-webkit-input-placeholder {
  opacity: 1;
  color: black;
  font-family: 'Roboto';
  font-size: 22px;
}

.location_search input:-ms-input-placeholder {
  opacity: 1;
  color: black;
  font-family: 'Roboto';
  font-size: 22px;
}

.location_search input::-ms-input-placeholder {
  opacity: 1;
  color: black;
  font-family: 'Roboto';
  font-size: 22px;
}

.location_search input::placeholder {
  opacity: 1;
  color: black;
  font-family: 'Roboto';
  font-size: 22px;
}

.location_search_searchInput:focus {
  outline-color: #9356DC;
}

i.fa-solid.location_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

/* LOCATION */
/* EXPLORER */
.explorer {
  background: url("../img/logo/omf_banner.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 5px 40px 5px;
}

.explorer_title {
  font-size: 33px;
  margin: 10px 5px;
}

.explorer_subtitle {
  font-size: 23px;
}

.explorer_link {
  width: 320px;
  height: 70px;
  font-size: 23px;
}

.btn_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  -webkit-box-shadow: 2px 5px 20px #a7a7a7;
          box-shadow: 2px 5px 20px #a7a7a7;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.btn_main:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd8cc6), to(#b28cde));
  background: linear-gradient(180deg, #dd8cc6 0%, #b28cde 100%);
}

/* EXPLORER */
/* OPERATION */
.operation {
  padding: 30px 15px;
}

.operation_header {
  font-size: 16px;
  margin: 0px 0px 35px 20px;
}

.operation_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

.operation_cards_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e762;
  width: 30%;
  height: 100px;
  -webkit-box-shadow: 2px 5px 20px rgba(167, 167, 167, 0.5);
          box-shadow: 2px 5px 20px rgba(167, 167, 167, 0.5);
  border-radius: 30px;
  font-size: 16px;
  cursor: default;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.operation_cards_card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: #9256dc21;
}

.operation_cards_card:hover .operation_cards_card_icon {
  color: #9356DC;
}

.operation_cards_card_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 35px;
  height: 35px;
  margin-left: -20px;
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
}

.operation_cards_card_icon {
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  font-size: 25px;
}

.operation_cards_card_title {
  padding-right: 5px;
}

/* OPERATION */
/* RESTAURANTS */
.restaurants {
  background-color: #F2F2F2;
  margin-top: 40px;
  padding: 10px 0px 50px 0px;
}

.restaurants_header_title {
  padding: 30px 0px 30px 30px;
  font-size: 24px;
}

.restaurants_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.restaurants_card {
  position: relative;
  margin: 10px 0px 20px 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 47%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.restaurants_card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.restaurants_card_fig {
  margin: 0;
}

.restaurants_card_fig_img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 280px;
}

.restaurants_card_fig_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  padding: 0px 0px 5px 25px;
  line-height: 10px;
}

.restaurants_icons {
  position: absolute;
  bottom: 1.9rem;
  right: 2.3rem;
  width: 26px;
  margin-top: -20px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.icons input[type="checkbox"]:checked ~ .icons-liked {
  display: inline-block;
  opacity: 1;
}

.icons input[type="checkbox"]:checked ~ .icons-notLiked {
  display: none;
}

.icons:hover .icons-liked {
  opacity: 1;
}

.icons-notLiked {
  position: absolute;
}

.icons-liked {
  position: relative;
  background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 18px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  color: #4d7052;
  z-index: 40;
  background-color: #99E2D0;
  -webkit-animation: new 1600ms ease-in-out;
          animation: new 1600ms ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* RESTAURANTS */
/* FOOTER */
.footer {
  background-color: #313131;
  padding: 30px 0px 15px 0px;
}

.footer_logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 130px;
  padding: 0px 0px 5px 40px;
  max-width: 1440px;
}

.footer_link {
  color: white;
  line-height: 30px;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_link_icon {
  margin-right: 5px;
}

.footer_link .fa-utensils {
  font-size: 19px;
  margin-right: 10px;
}

/* FOOTER */
/* PAGE */
/* PAGES MENU */
@font-face {
  font-family: 'Shrikhand';
  src: url("font/Shrikhand/Shrikhand.ttf");
}

@-webkit-keyframes itemAppear {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes itemAppear {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/* HEADER */
.header_icon {
  position: relative;
  left: 20px;
  font-size: 20px;
  color: #202020;
}

.header_icon:hover {
  color: #99E2D0;
}

/* HEADER */
/* BANNER */
.banner_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

/* BANNER */
/* MENU */
.menu {
  background-color: #F2F2F2;
  margin-top: -20px;
  padding-bottom: 20px;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.menu_header_title {
  font-family: 'Shrikhand';
  font-size: 33px;
  margin-right: 25px;
}

.menu_header_icons {
  margin-right: 30px;
}

.menu_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0px 17px;
  line-height: 0;
}

.menu_title_underline {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50px;
  height: 3px;
  margin: 5px 0px 10px 18px;
  background-color: #99E2D0;
}

.menu_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #00000016;
          box-shadow: 0 0 10px #00000016;
  margin: 15px 0px;
  width: 95%;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemAppear 500ms ease-in-out;
          animation: itemAppear 500ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu_card:hover .menu_card_check {
  margin: 0;
}

.menu_card:hover .menu_card_check_icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu_card_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.menu_card_titles p, .menu_card_titles h4 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 20px;
}

.menu_card_price {
  padding-right: 35px;
  width: 10%;
  text-align: center;
}

.menu_card_check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  height: 80px;
  width: 25%;
  margin-right: -100px;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.menu_card_check_icon {
  color: white;
  font-size: 28px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.delay_0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay_1 {
  -webkit-animation-delay: 0.16667s;
          animation-delay: 0.16667s;
}

.delay_2 {
  -webkit-animation-delay: 0.33333s;
          animation-delay: 0.33333s;
}

.delay_3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay_4 {
  -webkit-animation-delay: 0.66667s;
          animation-delay: 0.66667s;
}

.delay_5 {
  -webkit-animation-delay: 0.83333s;
          animation-delay: 0.83333s;
}

.delay_6 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay_7 {
  -webkit-animation-delay: 1.16667s;
          animation-delay: 1.16667s;
}

.delay_8 {
  -webkit-animation-delay: 1.33333s;
          animation-delay: 1.33333s;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.command_link {
  width: 200px;
  height: 50px;
  font-size: 20px;
}

/* MENU */
/* PAGE MENU */
/*# sourceMappingURL=style.css.map */